body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 2rem;
}

h1,
h2 {
    color: #333;
}

ul {
    list-style-type: circle;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input,
form textarea,
form button {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

footer {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.portfolio {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.project {
    background-color: #ddd;
    padding: 1rem;
    width: 30%;
    text-align: center;
    border: 1px solid #ccc;
}

#qun1 {
    background-color: aqua;
}

.project * {
    background-color: #4CAF50 !important;
    color: #ddd;
}

div.bss-b2b-registration-form-title h1 {
    font-family: ;
}